<h2>New celebrity</h2>

<form action= "/celebrities/create" method=POST>
<label for="name">Name</label>
<input id="name" type="name" name="name">

  <label for="occupation">Occupation</label>
  <input id="occupation" type="occupation" name="occupation" />
 

  <label for="catchPhrase">catchPhrase</label>
  <input id="catchPhrase" type="catchPhrase" name="catchPhrase" />
  <button type="submit">submit</button>
</form>

</form>